<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1" cellpadding="50px">
        <tr>
            <th>Name <br> ID</th>
            <th>age</th>
            <th> Department </th>
            <th>stage</th>
            <th> material </th>
        </tr>
        <% dates.forEach((data)=>{ %>

            <tr>

                <td>
                    <%= data.firstName%>
                </td>
                <td>
                    <%= data.age%>
                </td>
                <td>
                    <%= data.dep%>
                </td>
                <td>
                    <%= data.sta%>
                </td>
                <td>
                    <%= data.mat%>
                </td>




            </tr>
            <%  });%>

    </table>

</body>

</html>